.container {
    position: fixed;
    top: 10px;
    left: 10px;

    .LinkRouter {
        color: #686868;
    }

    .Current {
        color: #222;
    }

    @media (prefers-color-scheme: dark ) {
        .LinkRouter {
            color: #a8a8a8;
        }

        .Current {
            color: #f5f5f5;
        }
    }
}
