.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.orderForm {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 10px;

    .textField,
    .FormControl,
    .FormControlLabel,
    .submitButton {
        margin-bottom: 10px;
    }

    .submitButton {
        align-self: center;
    }
}