.root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
}

.title {
    margin-bottom: 24px;
}

.form {
    width: 100%;
    margin-top: 16px;
}

.text-field {
    margin-bottom: 16px;
}

.sign-up-button {
    margin: 16px 0 10px 0;
}
