.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.button {
    margin-bottom: 20px;
}

.dateField {
    margin-bottom: 20px;
}

.tableContainer {
    width: 90%;
    height: auto;
    overflow: visible;
}

.table {
    min-width: 700px;
}