.root {
    min-height: 100vh;
}

.item {
    text-align: center;
    padding: 2em;
}

.icon {
    font-size: 100px;
}

.button {
    margin-top: 1em;
}

.buttonOutlined {
    margin-top: 1em; 
    margin-left: 1em;
}